In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.3'

In [4]:
df = pd.DataFrame({'label':['d','b','a','c','d'],'data':[6,2,3,4,5]})
df

  label  data
0     d     6
1     b     2
2     a     3
3     c     4
4     d     5

In [5]:
# ソート
df.sort_values(['label','data'],inplace=True)
df

  label  data
2     a     3
1     b     2
3     c     4
4     d     5
0     d     6

In [6]:
# インデックス振り直し
df.reset_index(drop=True,inplace=True)
df

  label  data
0     a     3
1     b     2
2     c     4
3     d     5
4     d     6

In [7]:
# 列の順番変更
df2 = df.reindex(columns=['data','label'])
df2

   data label
0     3     a
1     2     b
2     4     c
3     5     d
4     6     d