# pandas basic

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.3'

## DataFrameの新規作成

In [3]:
# 空のDataFrame
df1 = pd.DataFrame(columns=['col1','col2','col3'])
df1

Empty DataFrame
Columns: [col1, col2, col3]
Index: []

In [4]:
# データからのDataFrame
list1 = [10,20,30]
list2 = [5,6,7]
df2 = pd.DataFrame(
    {
        'col1':list1,
        'col2':list2
    },
    index=['row1','row2','row3']
)
df2

      col1  col2
row1    10     5
row2    20     6
row3    30     7

## DataFrameへ列を追加

In [5]:
# assign() or insert()

## DataFrameへ行を追加

In [6]:
# 1.append() or 2.iloc[行名] or 3.列ごとにリストを作ってDataFrame新規作成
# 時間は 1 > 2 >> 3

### append()

In [7]:
df_base = pd.DataFrame([[1,2,3],[4,5,6]],columns=['col1','col2','col3'])
df_base

   col1  col2  col3
0     1     2     3
1     4     5     6

In [8]:
df_base.append(
    {
        'col1':7,
        'col2':8,
        'col3':9
    },
    ignore_index=True
)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### iloc[]

In [9]:
df_base2 = pd.DataFrame([[0]*3]*2,columns=['col1','col2','col3'])
df_base2

   col1  col2  col3
0     0     0     0
1     0     0     0

In [10]:
df_base2.iloc[0,:] = [1,2,3]
df_base2

   col1  col2  col3
0     1     2     3
1     0     0     0