In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.3'

In [3]:
# 重複の除去
df = pd.DataFrame({'label':['a','b','c','a','e'],'data':[1,2,3,4,5]})
df

  label  data
0     a     1
1     b     2
2     c     3
3     a     4
4     e     5

In [4]:
df.drop_duplicates(subset='label',inplace=True)
df

  label  data
0     a     1
1     b     2
2     c     3
4     e     5